body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    min-width: 640px;
}